.active {
  display: inline;
}

.no_display {
  display: none;
}

.display_section {
  display: inline;
}

.small-btn {
  padding: 0.25rem 0.5rem;
  /* Adjust padding as needed */
  font-size: 0.875rem;
  /* Adjust font size as needed */
}

.small-icon {
  height: 1rem;
  /* Adjust icon size as needed */
}
