.active {
  display: inline;
}

.no_display {
  display: none;
}

.display_section {
  display: inline;
}

.small-btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.content-box {
  margin-top: 3%;
  border: 2px solid black;
  padding: 0.2rem 1.5rem;
  border-radius: 10px;
}
.small-icon {
  height: 1rem;
}

@media (min-width: 768px) {
  body {
    width: 50%;
    margin: auto;
  }

  html {
    display: flex;
    justify-content: center;
  }
}
